$break-large: 768px;

$blue: #00C1D9; // oude kleur
$blue: #008CBA;
$orange: #FF6D00;
$green: #009D30;
$red: #9D0200;

html {
font-family: Cabin-Bold;
src: url(fonts/Cabin-Bold.otf);
}

body{
	font-family: "Cabin-Bold", sans-serif;
	margin: auto;
	background-color: $orange;
	font-size: 15px;
	color: $blue;
}

h1, h2, h3 {
	color: $blue;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 25px;
}

h3{
	font-size: 20px;
}

.exp-container {
  margin: auto;
  width: 90%;
  max-width: 1000px;
  min-height: 400px;
  background: white;
  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	padding-bottom: 100px;

	@media (max-width: $break-large){
		width: 100%;
	}
}

.tekstblok{
	padding: 50px;
	padding-top: 30px;
}

p{

	line-height: 30px;
	font-size: 15px;
}

.justify{
	text-align: justify;
}

a{
color: $blue;
text-decoration:none;
}

a:hover{
color: $blue;
text-decoration:underline;
}

a:visited{
color: $blue;
}

li.correct {
	background: $green;
}

li.incorrect {
	background: $red;
}

li.correct, li.incorrect {
	padding: 10px;
	color: white;
}

#survey{

	width: 700px;
	margin: auto;
	background-color: white;
	box-shadow: 0px 0px 25px #000000;
	border-radius:0px 0px 25px 25px;

}

.prev{
	position: absolute;
	left: 10%;
}

.next{
	position: absolute;
	right: 10%;
}

.slidesjs-pagination{

}

#slide{
	display:none;

}

#survey_container {
	width:100%;
	height: 400px;
	margin: auto;

}

#audiotest_container{

}

	.slide {
height: 100%;
		margin: auto;
		display:block;
overflow: show;
	}

.surveyquestion{
	width: 80%;

	text-align: center;
	margin:auto;
	margin-bottom: 25px;
	margin-top: 25px;

	.button-group > li {
		margin: 0 10px;
	}
}

.surveyquestion b{
        margin: auto;
}


.keyalignleft{
	float:left;
}



.navigationbuttons{
position: absolute;
bottom: 20px;
left: 0px;
	width: 100%;
height: 50px;
	margin: auto;
	display: table;
}

.navigationbuttons a{
display: table-cell;
text-align: center;
width: 50%;
vertical-align: middle;
color: white;
background-color: $blue;
}

.questiondiv{
height: 100%;
}

audio{
	display: table-cell;
	margin: auto;
	padding-top: 100px;
}

.textfieldcenter{
	margin: auto;
	display: table;
}

#audioquestion{
min-height: 60px;
margin-top: 100px;
}

audio.trial{
	display:none;
}

.surveyquestion#audioquestion{
	text-align: center;
}
