<div class="tekstblok">

  <h2>Informed consent formulier bij het onderzoek “Onbewust ritme horen, experiment 2” </h2>

  <p>“Ik verklaar hierbij op voor mij duidelijke wijze te zijn ingelicht over de aard en methode van het onderzoek, zoals uiteengezet in de informatiebrochure “Informatiebrochure bij het onderzoek <em>Musical rhythm and second language proficiency</em>”.</p>

  <p>Ik stem geheel vrijwillig in met deelname aan dit onderzoek. Ik behoud daarbij het recht deze instemming weer in te trekken zonder dat ik daarvoor een reden behoef op te geven en besef dat ik op elk moment mag stoppen met het experiment. Indien mijn onderzoeksresultaten gebruikt zullen worden in wetenschappelijke publicaties, dan wel op een andere manier openbaar worden gemaakt, zal dit volledig geanonimiseerd gebeuren. Mijn persoonsgegevens zullen niet door derden worden ingezien zonder mijn uitdrukkelijke toestemming.</p>

  <p>Als ik nog verdere informatie over het onderzoek zou willen krijgen in de toekomst, kan ik me wenden tot M. Paula Roncaglia-Denissen (email: <a target="_blank" href="mailto:m.p.roncaglia@uva.nl">m.p.roncaglia@uva.nl</a>).</p>

  <p>Met eventuele klachten over dit onderzoek kan ik me wenden tot de secretaris van de Commissie Ethiek van de Faculteit Geesteswetenschappen van de Universiteit van Amsterdam, commissie-ethiek-fgw@uva.nl (Spuistraat 210, 1012 VT Amsterdam).”</p>

</div>

<div class="surveyquestion radiobuttons">
  <ul class="button-group">
    <li>
      <button class="" ui-sref="rhythminstructions">
        Ik stem hiermee in
      </button>
    </li>
  </ul>
</div>
