<div class="tekstblok">

  <h2>{{ que.title || 'Vragenlijst over muziek- en taalachtergrond' }}</h2>

  <p>{{ que.subtitle || 'Na deze vragenlijst zie je hoe goed je de test hebt gedaan!' }}</p>

  <h3>{{ que.title_music || 'Muziekachtergrond:' }}</h3>

  <form>
    <div class="row">
      <label>
        {{ que.birthdate || '1)  Geboortedatum (dd-mm-jjjj)' }}
        <input type="text" ng-model="form.birthdate" ng-change="addQuestionnaireAnswer('birthdate', form.birthdate)">
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.sex || '2)  Geslacht' }}
        <input type="text" ng-model="form.sex" ng-change="addQuestionnaireAnswer('sex', form.sex)">
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.education || '3)	Hoogst afgeronde opleiding:' }}
        <input type="text" ng-model="form.education" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.musiclessons || '4)	Heeft u muzieklessen gevolgd?' }}
        <input type="text" ng-model="form.musiclessons" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.yearsofmusiclessons || '5)	Zoja, hoeveel jaren les heeft u gehad?' }}
        <input type="text" ng-model="form.yearsofmusiclessons" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.ageofmusiclessonsstart || '6)	Zoja, hoe oud was u toen u deze lessen heeft gehad?' }}
        <input type="text" ng-model="form.ageofmusiclessonsstart" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.playmusicalinstrumentyesno || '7)	Bespeelt u een muziekinstrument?' }}
        <input type="text" ng-model="form.playmusicalinstrumentyesno" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.whichmusicalinstrument || '8)	Zoja, welke?' }}
        <input type="text" ng-model="form.whichmusicalinstrument" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.followdancelessonsyesno || '9)	Heeft u danslessen gevolgd?' }}
        <input type="text" ng-model="form.followdancelessonsyesno" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.yearsofdancelessons || '10) Zoja, hoeveel jaren les heeft u gehad?' }}
        <input type="text" ng-model="form.yearsofdancelessons" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.hoursperdaymusiclistening || '11)	Hoeveel uren luistert u gemiddeld per dag naar muziek?' }}
        <input type="text" ng-model="form.hoursperdaymusiclistening" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.favoritemusicalgenre || '12)	Welke muziekgenre luistert u graag?' }}
        <input type="text" ng-model="form.favoritemusicalgenre" >
      </label>
    </div>
  </form>

  <h3>{{ que.title_language || 'Taalachtergrond: ' }}</h3>

  <form>
    <div class="row">
      <label>
        {{ que.nativelanguage || '1)	Wat is uw moedertaal?' }}
        <input type="text" ng-model="form.nativelanguage" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.otherfluentlanguage || '2)	Welke andere taal spreekt u vloeind naast uw moedertaal?' }}
        <input type="text" ng-model="form.otherfluentlanguage" >
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.skilllevelotherfluentlanguage || '3)	Hoe goed is uw vaardigheid in deze andere taal (talen) in vergelijking met je moedertaal?' }}
        <select ng-model="form.skilllevelotherfluentlanguage" >
          <option value="" selected></option>
          <option ng-repeat="answer in que.skilllevelotherfluentlanguageAnswers" ng-value="answer.value">{{ answer.answer }}</option>
          <!--<option value="10">10: net zo goed als mijn moedertaal</option>
          <option value="9">9: bijna net zo goed als mijn moedertaal</option>
          <option value="8">8: heel goed maar minder goed dan mijn moedertaal</option>
          <option value="7">7: vrij goed</option>
          <option value="6">6: gemiddeld niveau</option>
          <option value="5">5: gemiddeld niveau</option>
          <option value="4">4: beginnersniveau</option>
          <option value="3">3: beginnersniveau</option>
          <option value="2">2: rudimentair</option>
          <option value="1">1: rudimentair</option>-->
        </select>
      </label>
    </div>
    <div class="row"  >
      <label>
        {{ que.ageotherfluentlanguage || '4)	Hoe oud was u toen u deze andere taal (talen) geleerd heeft?' }}
        <input ng-model="form.ageotherfluentlanguage" type="text">
      </label>
    </div>
    <div class="row">
      <label>
        {{ que.howoftenperweekusingnativelanguage || '5)	Hoe vaak per week gebruikt u uw moedertaal?' }}
        <input type="text"  ng-model="form.howoftenperweekusingnativelanguage" >
      </label>
    </div>
    <div class="row" >
      <label>
        {{ que.howoftenperweekusingotherfluentlanguage || '6)	Hoe vaak per week gebruikt u deze andere taal (talen)?' }}
        <input type="text"  ng-model="form.howoftenperweekusingotherfluentlanguage">
      </label>
    </div>
  </form>

  <div class="surveyquestion radiobuttons">
    <ul class="button-group">
      <li>
        <button class="" ng-click="postResults(results)">
          {{ que.gotoresults || 'Ga naar de resultaten' }}
        </button>
      </li>
    </ul>
  </div>

</div>
