<html>

  <head>
    <title>Experiment</title>

    <link href="assets/style/style.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61665217-7', 'auto');
      ga('send', 'pageview');

    </script>

    <!--Set to utf-8 encoding-->
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body ng-app="ExperimentApp">
    <div class="exp-container" ng-controller="MainCtrl">

      <!-- <div class="tekstblok" ng-repeat="test in results">
        <p ng-repeat="(key, value) in test">
          {{key}} - {{value}}
        </p>
      </div>

      <button ng-click="postResults(results)">Verstuur resultaten</button> -->

        <section ui-view></section>
    </div>

<audio ng-hide="true">
  <source src="assets/audio/silence.wav" type="audio/wav" />
</audio>

  </body>
    <script src="libs/vendor-min.js"></script>
  <script src="bundle.js"></script>
  
</html>
