<div class="tekstblok" ng-show="configService.language === 'NL'">
  <h1>Welkom bij de test</h1>
  <p>Je zult hier getest worden op je muzikale vaardigheden. Dit zal gebeuren in twee delen: Een deel waarin je wordt getest op je ritmische luistervaardigheid en een deel waarin je wordt getest op je melodische luistervaardigheid.</p>
  <p>Ten slotte zullen we je enkele vragen stellen over jouw muziek- en taalachtergrond. Na het invullen van deze korte vragenlijst krijg je vervolgens de resultaten van de test te zien.</p>
  <p>Ook willen we je vragen de pagina niet te verversen wanneer je een fragment niet goed hebt gehoord of een verkeerd antwoord hebt ingevuld. Dit kan er in resulteren dat er data verloren kan gaan.</p>
  <p>Veel succes!</p>
</div>

<div class="surveyquestion radiobuttons">
  <ul class="button-group">
    <li class="click" ng-click="configService.setLanguage('NL')">
      <img ng-class="{'lang-selected': configService.language === 'NL'}" ng-src="assets/images/nl.png" />
    </li>
    <li class="click" ng-click="configService.setLanguage('TR')">
      <img ng-class="{'lang-selected': configService.language === 'TR'}" ng-src="assets/images/tr.png" />
    </li>
  </ul>
</div>

<div class="surveyquestion radiobuttons">
  <ul class="button-group">
    <li>
      <button ng-show="configService.language === 'NL'" class="" ng-click="playSilence()" ui-sref="consent">
        Naar het informed consent-formulier
      </button>
      <button ng-show="configService.language === 'TR'" class="" ng-click="playSilence()" ui-sref="rhythminstructions">
        Talimatlar
      </button>
<audio ng-hide="true">
  <source src="assets/audio/silence.wav" type="audio/wav" />
</audio>
    </li>
  </ul>
</div>

<div class="tekstblok" ng-show="lang == 'NL'">
  <p>This test is part of a music cognition research project at University of Amsterdam (Makiko Sadakata & Paula Roncaglia-Denissen), in collaboration with Mikel Wallentin (contact: <a href="mailto:m.p.roncaglia@uva.nl" target="_blank">m.p.roncaglia@uva.nl</a>). Website designed and created by <a href="http://www.drikusroor.nl/" target="_blank">Drikus Roor</a>.</p>
</div>
