<div class="tekstblok" ng-show="configService.language === 'NL'">

  <h1>Instructies</h1>
  <h2>Melodisch gedeelte van de test</h2>

  <p>In het tweede (melodische) deel zul je gepresenteerd worden met een reeks paren van melodieën. Jouw taak is om te beoordelen of de twee melodieën identiek zijn of van elkaar verschillen. Dit doe je door op de knoppen “Hetzelfde” of “Verschillend” te drukken. Antwoord zo snel en accuraat mogelijk als mogelijk door te drukken op de correcte knop. Deze taak duurt ongeveer 10 minuten.</p>

</div>

<div class="tekstblok"  ng-show="configService.language === 'TR'">
  <h1>Talimatlar</h1>
  <h2>Melodi B&ouml;l&uuml;m&uuml;:</h2>

  <p>
			Melodi g&ouml;revinde size &ccedil;ift halinde melodiler verilecek. Sizin yapman&#305;z gereken bu iki melodin ayn&#305; m&#305; 
			farkl&#305; m&#305; oldu&#287;una karar vermek. Bunu &ldquo;Same&rdquo; (Ayn&#305;) veya &ldquo;Different&rdquo;(Farkl&#305;) butonuna basarak 
			yapacaks&#305;n&#305;z. L&uuml;tfen bunu yapabildi&#287;iniz kadar h&#305;zl&#305; ve do&#287;ru butona t&#305;klamaya &ccedil;al&#305;&#351;arak yap&#305;n. 
			Melodi b&ouml;l&uuml;m&uuml; yakla&#351;&#305;k 10 dakika s&uuml;recek.
			Sorunuz var m&#305;? E&#287;er yoksa, hadi ba&#351;layal&#305;m!
  </p>
</div>

<div class="surveyquestion radiobuttons">
  <ul class="button-group">
    <li>
      <button class="" ui-sref="melody({trial: 1})">
        Begin het melodisch gedeelte van de test!
      </button>
    </li>
  </ul>
</div>
